extends layout

block content
  .container
    .row
      .col-xs-12
        h1.page-header= title
        .row
          .col-xs-12.col-md-3
            a.btn.btn-default.btn-ancho.btn-lg(href="/alarmlist") Lista de Alarmas
          .col-xs-12.col-md-3
            a.btn.btn-default.btn-ancho.btn-lg(href="/cdlist/CD") Lista de CD
          .col-xs-12.col-md-3
            a.btn.btn-default.btn-ancho.btn-lg(href="/etlist/ET") Lista de ET
          .col-xs-12.col-md-3
            a.btn.btn-primary.btn-ancho.btn-lg(href="/saveitems") Guardar datos en la base
