doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-light.bg-faded
      .container-fluid
        .navbar-header
          button(id="boton-collapse", type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a.navbar-brand(href="#") 
            h2 Edesal
        div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
          ul.nav.navbar-nav.navbar-right
            li
              a.nav-link(href="/") Home 
                span.sr-only(current)
    block content
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
